# This is the example SvnUtils.config file.
@{
	# Root path:
	Root = '^/Project'
	# Branches path:
	Branches = 'branches'
	# Branches postfix:
	Postfix = 'postfix'
	# Closed branch directory:
	Closed = 'Closed'

	# svn client:
	svn = 'svn'
	# TortoiseProc executable:
	TortoiseProc = 'TortoiseProc'
	# Utility for copying data to clipboard:
	clip = 'clip'

	CreateMessageTemplate = 'Create branch {0}.'
	CloseMessageTemplate = 'Close branch {0}.'

	SvnPathResolver = {
		param (
			$Root,
			$Branches,
			$Postfix,
			$BranchName
		)

		switch ($BranchName) {
			'release1' {
				@($Root, 'release', '1.0')
			}
		}
	}
}