# This is the example SvnUtils.config file.
@{
	# Root path:
	Root = '^/Project'
	# Branches path:
	Branches = 'branches'
	# Branches postfix:
	Postfix = 'postfix'
	# Closed branch directory:
	Closed = 'Closed'

	# svn client:
	svn = 'svn'
	# TortoiseProc executable:
	TortoiseProc = 'TortoiseProc'
	# Utility for copying data to clipboard:
	clip = 'clip'
}